*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-color:rgb(125, 125, 125) ;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    float: left;
}    

nav ul{
    /* remove o ícone(marcação/bolinha) do li*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    /* modifica a exibição da lista para o bloco de linha, ou seja um li na frente do outro */
    display: inline-block;  
}

nav ul li a{
    /* remove o sublinhado do link */
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* texto em negrito */
    font-weight: bold;
    padding: 15px;
    display: block;
}

nav ul li a:hover{
    background-color: rgb(200, 200, 200);
    color:#000;
}

#icones{
    background-color: #fff;
    float: left;
    width: 100%;
    height: 600px;  
}

#imagens{
    background-color: rgb(200, 200, 200);
    float: left;
    width: 100%;
    height: 600px;
}

#videos{
    background-color: #FFF;
    float: left;
    width: 100%;
    height: 600px;
}

#mapas{
    background-color: rgb(200, 200, 200);
    float: left;
    width: 100%;
    height: 600px;
}